<template>
    <div :class="['chat', {selected: isSelected}]" @click.prevent="selectChat">
        <div class="chat_wrapper">
            <div>
                <div class="chat_thumbnail">
                    <div v-if="isOnline" class="chat_user-online"></div>
                </div>
            </div>
            <div class="chat_main-info">
                <div class="chat_names">{{membersNames}}</div>
                <div class="chat_last-message">
                    <span class="chat_last-message_title">{{(( lastMessage && lastMessage.source) ? 'От:' + lastMessage.source : '')}}</span>
                    {{((lastMessage) ? lastMessage.message : 'Нет сообщений')}}
                </div>
            </div>
            <div class="chat_additional-info">
                <div class="chat_date-time">5 мин.</div>
                <div v-if="chat.missedCount > 0" class="chat_missed-number">{{chat.missedCount}}</div>
                <div v-else-if="(lastMessage) && (lastMessage.missed) && (lastMessage.missed.length > 0) && (lastMessage.sender === userId)" class="chat_message-status"><i class="material-icons">done</i></div>
                <div v-else-if="(lastMessage) && (lastMessage.sender === userId)" class="chat_message-status"><i class="material-icons">done_all</i></div>
            </div>
        </div>
    </div>
</template>

<script>
    import store from 'Utils/managers/vuexstore';
    import {sendMessage} from 'Utils/managers/socketHelper';
    import {sendChatActivatedEvent} from 'Utils/managers/socketHelper';
    import {clearMissedMessages} from 'Utils/requests/chatRequestHandler';
//    import store from '../../utils/managers/vuexstore';
    const FROM_REGEXP = /<from:(.+):>(.+)/;
    export default {
        name: 'chat',
        props: ['chat'],
        computed: {
            userId: function () {
                return store.getters.currentUserId;
            },
            onlineUsersId: function () {
                return store.state.onlineOperatorsId;
            },
            selectedChat: function () {
                return store.state.selectedChat;
            },
            membersNames: function() {
                let membersStr = '';
                for(let member of this.chat.members) {
                    if(member.id !== this.userId) {
                        membersStr += member.name + ' ';
                    }
                }
                return membersStr;
            },
            isSelected: function () {
                return this.selectedChat.id === this.chat.id;
            },
            isOnline: function () {
                if(this.chat.members.length === 2) {
                    for(let member of this.chat.members) {
                        if(member !== this.userId && this.onlineUsersId.indexOf(member.id) > -1) {
                            return true;
                        }
                    }
                }
            },
            lastMessage: function () {
                return (this.chat.messages && this.chat.messages.length > 0) ?  this.chat.messages[this.chat.messages.length - 1] : '';
            }
        },
        methods: {
            selectChat: function () {
                if(store.state.forward) {
                    let forwardMessages = store.state.selectedMessages;
                    for(let msg of forwardMessages) {
                        let text = msg.message;
                        let source = ''
                        if(msg.source) { //если это сообщение уже было переслано от другого пользователя (первого источника), то есть пересылается НЕ в первый раз
                            source = msg.source;
                        } else {
                            let srcChatId = msg.sourceChatId;
                            let senderId = msg.sender;
                            source = store.getters.getChatMemberName(senderId, srcChatId);
                        }
                        text = '<from:' + source + ':>' + msg.message;
                        sendMessage(this.userId, this.chat.id, text);
                    }
                    store.state.selectedChat = this.chat;
                    store.commit('unsetForward');
                    store.commit('clearSelectedMessages');

                } else {
                    if(!this.isSelected) {
                        store.state.selectedChat = this.chat;
                        store.commit('clearSelectedMessages');
                        store.commit('clearMissedMessages',
                            {chatId: this.chat.id,
                                memberId: this.userId});
                        sendChatActivatedEvent(this.userId, this.chat.id);
                    }
                }
            }
        }
    }
</script>

<style>
    .chat {
        padding-right: 10px;
        padding-left: 10px;

        cursor: default;
    }

    .chat:hover {
        background-color: #f6f6f6;
    }

    .chat:first-child > .chat_wrapper {
        border-top: solid 1px #f4f4f4;
    }

    .chat_wrapper {
        display: flex;

        padding-top: 10px;
        padding-bottom: 10px;

        border-bottom: solid 1px #f4f4f4;
    }

    .chat.selected {
        background-color: #f4f4f4;
    }

    .chat_thumbnail {
        position: relative;

        width: 50px;
        height: 50px;
        border-radius: 25px;

        background: url("../../assets/img/avatar.jpg") center;
        background-size: contain;
    }

    .chat_user-online {
        position: absolute;
        bottom: 3px;
        right: 0;

        width: 14px;
        height: 14px;
        border-radius: 7px;

        background-color: #7ed321;
    }

    .chat_main-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-right: 20px;
        padding-right: 10px;
        padding-left: 10px;

        overflow: hidden;

    }

    .chat_names {
        font-weight: 500;
        color: #000000;
        text-overflow: ellipsis;
    }

    .chat_last-message {
        color: #878787;
        font-weight: 300;
        font-size: 0.95rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .chat_last-message_title {
        display: block;
        font-size: 0.9rem;
    }

    .chat_additional-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .chat_date-time {
        font-family: HelveticaNeue;
        font-size: 0.95rem;
        color: #b1b1b1;
        white-space: nowrap;

    }

    .chat_missed-number {
        width: 16px;
        height: 16px;
        border-radius: 8px;

        background-color: #ee3f34;

        text-align: center;
        line-height: 16px;
        vertical-align: middle;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.7rem;
    }

    .chat_message-status {
        color: #ee3f34;
        opacity: 0.5;
    }

    /*.chat_separator {*/
        /*height: 1px;*/
        /*background-color: #d9d9d9;*/
    /*}*/
</style>