<template>
    <div class="sidebar">
        <p class="test">&#xf002;</p>
        <div class="sidebar_header">
            <button class="preferences"></button>
            <div class="logo"></div>
            <button class="profile"></button>
        </div>
        <input class="sidebar_search" placeholder="&#xf002; &#x00A0; Имя пользователя">
        <div class="sidebar_user-filter">
            <button id="clients" class="selected">Клиенты</button>
            <button id="co-workers">Сотрудники</button>
        </div>
        <div id="chats" class="chats_area">
            <chat v-for="chat in chats" :chat="chat"></chat>
        </div>
    </div>
</template>

<script>
    import store from 'Utils/managers/vuexstore';
    import Chat from './Chat.vue'

    export default {
        name: 'sidebar',
        components: {Chat},
        computed: {
            chats: function() {
                return store.state.chats;
            }
        }
    }
</script>

<style>
    .test {
        font-family: FontAwesome, Roboto;
    }
    .sidebar {
        height: 100%;
        min-width: 250px;
        width: 20%;
        border-right: solid 1px #979797;

        display: flex;
        flex-direction: column;

    }

    .sidebar_header {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;

        align-items: center;
        width: 100%;
        padding: 10px;
    }


    .preferences {
        width: 30px;
        height: 30px;
        background-color: red;
    }

    .logo {
        width: 130px;
        height: 50px;
        background-color: #878787;
    }

    .profile {
        width: 30px;
        height: 30px;
        background-color: red;
    }

    .sidebar_search {
        display: block;
        flex-shrink: 0;

        width: calc(100% - 24px);
        height: 24px;
        margin-right: 12px;
        margin-left: 12px;
        padding-left: 10px;

        border-radius: 3px;
        background-color: #f7f8f9;

    }

    .sidebar_search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #878787;
        font-family: 'FontAwesome', 'Roboto';
    }

    .sidebar_user-filter {
        display: flex;
        justify-content: center;

        flex-shrink: 0;

        padding: 10px;
    }

    .sidebar_user-filter > button {
        height: 24px;
        margin-left: 8px;
        margin-right: 8px;
        padding-left: 12px;
        padding-right: 12px;

        border-radius: 4px;

        font-weight: 500;
        text-align: center;
        color: #ee3f34;
        font-size: 1rem;

    }

    .sidebar_user-filter > button.selected {
        background-color: #ee3f34;
        color: #ffffff;
    }

    .chats_area {
        flex-grow: 1;
        overflow: auto;
    }

</style>