<template>
    <div class="startWindowWrapper">
        <h1>ЗАГРУЗКА</h1>
    </div>
</template>

<script>
    export default {
        name: "start-window"
    }
</script>

<style>
    .startWindowWrapper {

        background-color: white;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;


    }
    h1 {
        color: red;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>