<template>
    <div class="placeholder forward" v-if="isVisible">
        <button class="forward_cancel" @click="cancelSelect">&#xf05c;</button>
        <div>
            <div class="forward_arrow">&#xf064;</div>
            <div class="forward_header">Пересылка ({{messages_amount}} сообщений)</div><br>
            <div>Выберите контакт для пересылки из списка слева</div>
        </div>
    </div>
</template>

<script>
    import store from 'Utils/managers/vuexstore';

    export default {
        name: 'forward',
        computed: {
            messages: function() {
                return store.state.selectedMessages
            },
            isVisible: function() {
                return store.state.forward
            },
            messages_amount: function() {
                console.log(this.messages);
                return this.messages.length;
            }
            // isVisible: function() {
            //     return (this.messages_amount > 0) ? true: false;
            // }
        },
        methods: {
            cancelSelect: function () {
                store.commit('unsetForward');
                store.commit('clearSelectedMessages');

            }
        }
    }
</script>

<style>
.forward {
    z-index: 100;
    background-color: rgba(220, 220, 220, 0.85);
    /*background-color: #dcdcdc;*/
    /*opacity: 0.8;*/
}

.forward_arrow {
    font-family: 'FontAwesome', 'Roboto';
    color: #ee3f34;
    font-size: 5rem;
    opacity: 0.4;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);

    margin: 0px;
    padding-bottom: 40px;
}

.forward_cancel {
    font-family: 'FontAwesome', 'Roboto';
    font-size: 2rem;
    color:  #656565;

    position: absolute;
    top: 0;
    right: 0;
    background: none;

    cursor: pointer;
}

.forward_header {
    font-weight: bold;
    font-size: 2rem;
    color:  #656565;
    opacity: 1;
    /*margin-bottom: 10px;*/

}
</style>

