<template>
    <div class="chat_header" v-if="messagesSelected">
        <button id="forward_message" @click="forwardMessages"><i class="material-icons">reply</i></button>
    </div>
    <div class="chat_header" v-else>
        <div>
            <div class="thumbnail">
                <div v-if="isOnline" class="user-online"></div>
            </div>
        </div>
        <div class="chat_title">
            <div class="name">{{title}}</div>
            <div class="status">{{status}}</div>
        </div>
        <button id="add_member"><i class="material-icons">add</i></button>
        <button id="forward_chat"><i class="material-icons">reply_all</i></button>
        <button id="chat_info"><i class="material-icons">info_outline</i></button>
    </div>
</template>

<script>
    import store from 'Utils/managers/vuexstore';

    export default {
        name: 'chat-header',
        computed: {
            userId: function () {
                return store.getters.currentUserId
            },
            onlineUsersId: function () {
                return store.state.onlineOperatorsId
            },
            chat: function () {
                return store.state.selectedChat;
            },
            title: function () {
                if(this.chat) {
                    let members = this.chat.members;
                    //продублированный код
                    let membersStr = '';
                    for(let member of members) {
                        if(member.id !== this.userId) {
                            membersStr += member.name + ' ';
                        }
                    }
                    return membersStr;
                }
            },
            isOnline: function () {
                if(this.chat) {
                    //продублированный код
                    if(this.chat.members.length === 2) {
                        for(let member of this.chat.members) {
                            if(member !== this.userId && this.onlineUsersId.indexOf(member.id) > -1) {
                                return true;
                            }
                        }
                    }
                }

            },
            status: function () {
                if(this.chat) {
                    return ((this.isOnline) ? 'Онлайн' : 'Нет онлайн') +
                        ', окно чата активно';
                }
            },
            messagesSelected: function () {
                return store.state.selectedMessages.length > 0 ? true : false;
            }
        },
        methods: {
            forwardMessages: function () {
                store.commit('setForward');
            }
        }
    }
</script>

<style>
    .chat_header {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        min-height: 55px;
    }

    .chat_header .thumbnail {
        position: relative;

        width: 38px;
        height: 38px;
        border-radius: 19px;

        background: url("../../assets/img/avatar.jpg") center;
        background-size: contain;

        margin: 7px;
    }

    .chat_header .user-online {
        position: absolute;
        bottom: 2px;
        right: 0;

        width: 10px;
        height: 10px;
        border-radius: 5px;

        background-color: #7ed321;
    }

    .chat_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        padding-left: 5px;
    }

    .chat_title > .name {
        font-weight: 500;
        color: #000000;
        text-overflow: ellipsis;
        text-wrap: none;
    }

    .chat_title > .status {
        font-size: 0.9rem;
        color: #878787;
        font-weight: 300;
    }

    .chat_header > button {
        color: #878787;
        font-size: 14px;

    }

</style>