<template>
    <div class="main_area" id="msg_vue">
        <div id="select_chat_placeholder" class="placeholder" v-if="isVisibleNoSelectedPlaceholder">
            <span>Пожалуйста, выберете чат из списка слева</span>
        </div>
        <chat-header></chat-header>
        <div class="msg_area" v-chat-scroll>
            <div id="no_message_placeholder" class="placeholder" v-if="isVisibleNoMsgPlaceholder">
                <span>В этом чате еще нет сообщений</span>
            </div>
            <!--<div class="date">Сегодня</div>-->
            <div class="messages">
                <message v-for="message in messages" :message="message"></message>
            </div>
        </div>
        <message-input></message-input>
        <forward></forward>
    </div>
</template>

<script>
    import ChatHeader from './Header.vue';
    import MessageInput from './MessageInput.vue';
    import Message from './Message.vue';
    import Vue from 'vue';
    import store from 'Utils/managers/vuexstore';
    import vueChatScroll from 'vue-chat-scroll';
    import Forward from './Forward.vue';


    Vue.use(vueChatScroll);




    export default {
        name: 'main-area',
        components: {Forward, MessageInput, ChatHeader, Message},
        computed: {
            userId: function () {
                return store.getters.currentUserId;
            },
            onlineUsersId: function () {
                return store.state.onlineOperatorsId;
            },
            chat: function () {
                return store.state.selectedChat;
            },
//            fullChat: function () {
//                if(this.chat) {
//                    let full = store.state.chats.get(this.chat.id); //проверили кэш
//                    if(!full) { //если в кэше нет, то начать загрузку и отоборазить результат загрузки
//                        store.dispatch('addChatWithMsg', this.chat.id); //инициируем скачивание чата с сервера
//                        return store.state.selectedChatFull;
//                    } else { //иначе вернуть результат из кэша
//                        return full;
//                    }
//                }
//            },
//            messages: function () {
//                if(this.chat) {
//                    return (this.fullChat) ? this.fullChat.messages : '';
//                }
//            },
            messages: function () {
                if(this.chat) {
                    return this.chat.messages;
                }
            },
//            isVisibleNoMsgPlaceholder: function () {
//                if(this.chat) {
//                    if(this.fullChat) {
//                        return (this.fullChat.messages.length == 0) ? true : false;
//                    }
//                }
//            },
            isVisibleNoMsgPlaceholder: function () {
                if(this.chat) {
                    return (this.chat.messages.length == 0) ? true : false;
                }
            },
            isVisibleNoSelectedPlaceholder: function () {
                return (this.chat) ? false : true;
            }
        }

    }
</script>

<style>
    .main_area {
        position: relative;
        flex-grow: 1;
        height: 100%;
        max-width: 80%;

        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/

    }

    .placeholder {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background-color: #ffffff;
    }

    .placeholder > span, .placeholder > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .msg_area {
        position: relative;
        flex-grow: 1;
        overflow: auto;
    }

    .messages {
        width: 100%;
        height: 100%;
        padding: 20px 15px 20px 5px;
    }


    .date {
        position: absolute;
        top: 2px;
        left: 50%;
        transform: translateX(-50%);

    }
</style>