<template>
    <div :class="['message_wrapper', isOwn ? 'own' : 'opposite']" @click.right="selectMessage">
        <!--<div v-if="!isOwn" class="thumbnail"></div>-->

        <div :class="['message', {selected: isSelected}]">
            <span v-show="message.source" class="message_title">Перенаправлено от: {{message.source}}</span>
            <span class="message_text">{{message.message}}</span>
        </div>
        <div class="time">{{time}}</div>
    </div>
</template>

<script>
    import store from 'Utils/managers/vuexstore';
    const FROM_REGEXP = /<from:(.+):>/;
    export default {
        name: 'message',
        props: ['message'],
        data: function() {
            return {
                isSelected: false
            }
        },
        computed: {
            userId: function() {
                return store.getters.currentUserId;
            },
            isOwn: function () {
                return this.message.sender === this.userId;
            },
            time: function () {
                return '12:50';
            },
            deselected: function () {
                if(store.state.forward === false) {
                    return !store.state.forward;
                }
            },
            selectedMessages: function () {
                return store.state.selectedMessages;
            }
        },
        watch: {
            deselected: function () {
                if(this.deselected && this.isSelected) {
                    this.isSelected = false;
                }
            },
            selectedMessages: function () {
                if(this.selectedMessages.length === 0) {
                    this.isSelected = false;
                }
            }

        },
        methods: {
            selectMessage: function () {
                if (this.isSelected) {
                    store.commit('deselectMessage', this.message);
                } else {
                    this.message.sourceChatId = store.state.selectedChat.id;
                    store.commit('selectMessage', this.message);
                }
                this.isSelected = !this.isSelected;
            }
        }
    }
</script>

<style>
    .message_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .own {
        flex-direction: row-reverse;
    }

    .opposite {

    }

    .own + .own, .opposite + .opposite {
        margin-top: 10px;
    }

    .own + .opposite, .opposite + .own {
        margin-top: 20px;
    }


    .message {
        padding: 5px 10px;
        border-radius: 10px;
        /*word-break: break-all;*/
        color: #424242;
        max-width: calc(100% - 50px);

    }

    .message.selected {
        border: 1px solid red;
    }

    .message_title {
        font-weight: 700;
        display: block;
        color: #2e2e2e;
    }

    .message_text {
        cursor: text;
        white-space: pre-wrap;
        word-wrap: break-word;
        /*max-width: 100%;*/
    }

    .time {
        font-size: 0.9rem;
        color: #b1b1b1;
        padding: 5px;
        width: 50px;
    }

    .opposite > .message {
        background-color: #fff9a9;
    }

    .own > .message {
        background-color: #d4f6ae;
    }
</style>