<template>
    <div class="msg_input_area" id="msg_control">
        <button id="add_document"><i class="material-icons">attach_file</i></button>
        <textarea v-chat-scroll id="ta" v-model="message" @keyup.enter.exact="submit" @keyup.ctrl.enter="newline" rows="1" placeholder="Введите сообщение... "></textarea>
        <button class="add_product"><i class="material-icons">inbox</i></button>
        <button class="send" @click="submit"><i class="material-icons">send</i></button>
    </div>
</template>

<script>
    import store from 'Utils/managers/vuexstore';
    import {sendMessage} from 'Utils/managers/socketHelper';
    export default {
        name: 'message-input',
        data: function() {
            return {
                message: '',
                textarea: document.getElementById('ta')
            }
        },
        computed: {
            selectedChat: function () {
                return store.state.selectedChat;
            },
            userId: function () {
                return store.getters.currentUserId;
            }
        },
        watch: {
            selectedChat: function() {
                this.message = ''
            }
        },
        methods: {
            submit: function () {
//                console.log('msg', this.message);
                sendMessage(this.userId, this.selectedChat.id, this.message);
//                console.log('userId', this.userId);
//                console.log('selectedChatID', this.selectedChat.id);

                // document.getElementById('ta').rows = 1;
                ///!!!!!!!!!!BAD
                //chatSocketHelper.sendMessage(this.userId, this.selectedChat.id, this.message);//!!!!!!!!!!
                this.message = '';
            },
            newline: function () {
                // console.log('newline');
                this.message += '\r';
            }
        }
    }
</script>

<style>
    .msg_input_area {
        min-height: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: solid 1px #d8d8d8;
    }

    .msg_input_area > button {
        align-self: flex-end;
    }

    textarea {
        resize:none;
        outline: none;
        border: none;
        overflow: auto !important;
        flex-grow: 1;
        max-height: 30vh;

    }

    .add_product {

    }

    .send > i {
        color: #ee3f34;
    }
</style>