/******GENERAL******/

body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input,
button,
submit {
    border:none;
    outline: none;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

body {
    padding: 10px;
}

.wrapper_main {
    border: solid 1px #979797;
    width: 100%;
    height: 100%;
}
