html {
    font-size: 20px;
}

.wrapper_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    min-width: 300px;
    max-width: 500px;

    text-align: center;
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);

    margin: 0px;
    padding-bottom: 40px;

    color: #ee3f34;
    font-weight: bold;

}

a {
    color: #c2c2c2;
}
a:hover{
    text-decoration: underline;
}

/******FORM******/

.text-field, .button {
    display: block;

    height: 34px;
    margin-bottom: 8px;

    border-radius: 5px;
    font-size: 0.8rem;

}

.text-field {
    width: 100%;
    border: solid 1px #979797;
    padding-left: 10px;
    color: #686868;

}

.text-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c2c2c2;
    font-family: 'FontAwesome', 'Roboto';
    font-size: 0.8rem;
}

.button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    background-color: #ee3f34;

    text-align: center;
    color: #ffffff;
}

.wrapper_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #c2c2c2;
    font-size: 0.7rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    content: "\f096";
    font-family: FontAwesome;
    letter-spacing: 10px;
    font-size: 1rem;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
    content: "\f046";
}

.link_about {
    position: fixed;
    bottom: 0;
    right: 0;

    margin-bottom: 40px;
    margin-right: 40px;

    font-size: 0.7rem;
}

/*******PRELOADER***************/

.startWindowWrapper {

    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


}
.startWindowWrapper > h1 {
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}





