<template>
    <div class="wrapper_main">

            <sidebar></sidebar>
            <main-area></main-area>

        <!--<start-window v-show="!isCreated"></start-window>-->
    </div>
</template>

<script>
    import Sidebar from 'VueComponents/sidebar/Sidebar.vue'
    import MainArea from 'VueComponents/chat_area/MainArea.vue'
    import StartWindow from 'VueComponents/StartWindow.vue';

    export default {
        components: {StartWindow, Sidebar, MainArea},
//        data: function () {
//            return {
//                isCreated: false
//            }
//        },
//        created: function () {
//            setTimeout(() => {
//                console.log('TIMEOUT');
//                this.isCreated = true;
//            }, 1500);
//
//
//        },

    }
</script>

<style>
    .wrapper_main {
        display: flex;
        height: 100%;
        width: 100%;
    }
</style>